.title {
  color: transparent;
  background: no-repeat center center/300% 300%
    linear-gradient(130deg, #1cc6b8, #3f3f94, #ec2757, #fcfc67, #eb6d71);
  -webkit-background-clip: text;
  background-clip: text;
}
