@tailwind base;

#root {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fcfcf3;
}

@tailwind components;

@layer utilities {
  .c {
    width: 1%;
    height: 1%;
  }
}

@tailwind utilities;
